a {
  text-decoration: none;
}
.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.user-card p {
  text-align: center;
  color: #333;
}
